/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 20px;
    font-weight: 500;
}

.header__s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__s2 img {
    width: 30px;
    height: 30px;
}

.header__s2 span {
    font-size: 20px;
    font-weight: 600;
}

.header__s3 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__s4 {
    display: none;
}

.header__s5 {
    display: none;
}

/* Where to */
.whereto {
    display: none;
    ;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    /* Prevents wrapping of flex items */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    padding-bottom: 10px;
    /* Adds space between navbar items and the scroll bar */
    margin: 40px 20px 20px 20px;
}

.navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    /* Prevents wrapping of navbar items */
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.navbar__items:hover {
    border-bottom: 2px solid rgb(117, 113, 113);
    opacity: 0.8;
}

.navbar__items__default {
    border-bottom: 2px solid black;
}

.navbar__items img {
    width: 25px;
    height: 25px;
}

/* Search box */
.search {
    border: 2px solid gainsboro;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search__s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

.search__s1__searchbox {
    padding: 10px;
    border: none;
    flex-grow: 1;
    font-size: 14px;
}

.search__s1__searchbox:focus {
    outline: none;
}

.search__s2 {
    padding: 10px;
}

.search__s2__search-btn {
    background-color: #34E0A1;
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.search__s2__search-btn:hover {
    opacity: 0.8;
}

/* Home image */
.home {
    background-color: #DCCAFF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #301D49;
}

.home__s1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 20px 10px 0 10px;
}

.home__s1__row1 {
    font-size: 12px;
}

.home__s1__row1 span {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.home__s1__row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #301D49;
    padding: 15px;
    border: none;
    border-radius: 100px;
    color: white;
    width: fit-content;
}

.home__s1__row4:hover {
    background-color: #52327C;
}

.home__s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__s2 img {
    width: 350px;
}

.home__s3 {
    display: none;
}

/* Award-winning meal */
.meal {
    margin: 20px;
}

.meal__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
}

.meal__items {
    flex: 0 0 auto;
    width: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.meal__items:hover {
    opacity: 0.8;
}

.meal__items img {
    width: 100%;
    height: auto;
}

.meal__items h2 {
    /* display: block; */
    color: white;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    position: absolute;
    left: 10px;
    bottom: 10px;
}



/* Responsive designs */

/* Tablet */
@media screen and (min-width: 766px) {

    body {
        font-size: 16px;
    }

    /* Header */
    .header {
        gap: 20px;
    }

    .header__s2 {
        justify-content: flex-start;
        flex-grow: 1;
    }

    .header__s2 span {
        font-size: 24px;
    }

    .header__s2 img {
        width: 40px;
        height: 40px;
    }

    .header__s3 {
        display: none;
    }

    .header__s5 {
        display: flex;
    }

    .header__s5__one {
        display: none;
    }

    .header__s5__two {
        display: flex;
    }

    .header__s5__two__signin-btn {
        background-color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        color: white;
    }

    .header__s5__two__signin-btn:hover {
        opacity: 0.8;
    }

    /* Where to */
    .whereto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .whereto h1 {
        font-size: 45px;
    }

    /* Navbar */
    .navbar {
        margin: 40px 5% 20px 5%;
        gap: 25px;
    }

    /* Search box */
    .search {
        border-radius: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 6% 40px 6%;
    }

    .search__s1 {
        border: none;
        flex-grow: 1;
    }

    .search__s1__searchbox {
        padding: 0;
        font-size: 16px;
    }

    .search__s2__search-btn {
        width: fit-content;
        font-size: 16px;
    }

    .search__s2 {
        padding: 0;
    }

    /* Home image */
    .home {
        flex-direction: row;
        margin: 10px;
        padding: 30px 0 0 30px;
    }

    .home__s1 {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    .home__s1__row4:hover {
        background-color: #52327C;
    }
}

/* Laptops */
@media screen and (min-width: 1024px) {

    /* Header */
    .header {
        justify-content: space-between;
    }

    .header__s1 {
        display: none;
    }

    .header__s4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__s4 p {
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .header__s4 p:hover {
        background-color: #F2F2F2;
    }

    #header__s4__four:hover {
        background-color: transparent;
        text-decoration: underline;
        opacity: 0.7;
    }

    .header__s5 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__s5__one {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .header__s5__one:hover {
        background-color: #F2F2F2;
    }

    .header__s2 {
        flex-grow: 0;
    }

    /* Navbar */
    .navbar {
        margin: 40px 7% 20px 7%;
        gap: 20px;
    }

    /* Search box */
    .search {
        margin: 20px 9% 40px 9%;
    }
}

/* Desktops */
@media screen and (min-width: 1200px) {
    body {
        margin: 0 7%;
    }

    /* Navbar */
    .navbar {
        margin: 40px 9% 20px 9%;
    }

    /* Search box */
    .search {
        margin: 20px 12% 40px 12%;
    }
}


/* Phones */
@media screen and (max-width: 756px) {
    .navbar {
        width: auto;
        /* The navbar will now trigger horizontal scrolling */
    }
}