/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}

.header__s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__s2__img {
    width: 30px;
    height: 30px;
}

.header__s2 span {
    font-size: 20px;
    font-weight: 600;
}

.header__s3 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__s4 {
    display: none;
}

.header__s5 {
    display: none;
}

.header__s1,
.header__s2,
.header__s3,
.header__s4 p,
.header__s5__one,
.header__s5__two__signin-btn {
    cursor: pointer;
}

/* Where to */
.whereto {
    display: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    /* Prevents wrapping of flex items */
    overflow-x: auto;
    /* Enables horizontal scrolling */
    padding-bottom: 10px;
    /* Adds space between navbar items and the scroll bar */
    margin: 40px 20px 20px 20px;
}

.navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    /* Prevents wrapping of navbar items */
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.navbar__items:hover {
    border-bottom: 2px solid rgb(117, 113, 113);
    opacity: 0.8;
}

.navbar__items__default {
    border-bottom: 2px solid black;
}

.navbar__items img {
    width: 25px;
    height: 25px;
}

/* Search box */
.search {
    border: 2px solid gainsboro;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search__s1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}

.search__s1__searchbox {
    padding: 10px;
    border: none;
    flex-grow: 1;
    font-size: 14px;
}

.search__s1__searchbox:focus {
    outline: none;
}

.search__s2 {
    padding: 10px;
}

.search__s2__search-btn {
    background-color: #34E0A1;
    border: none;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.search__s2__search-btn:hover {
    opacity: 0.8;
}

/* Home image */
.home {
    background-color: #DCCAFF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #301D49;
}

.home__s1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 20px 10px 0 10px;
}

.home__s1__row1 {
    font-size: 12px;
}

.home__s1__row1 span {
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.home__s1__row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #301D49;
    padding: 15px;
    border: none;
    border-radius: 100px;
    color: white;
    width: fit-content;
}

.home__s1__row4:hover {
    background-color: #52327C;
}

.home__s2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__s2 img {
    width: 350px;
}

.home__s3 {
    display: none;
}

/* Award-winning meal */
.meal {
    margin: 20px;
}

.list__container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 5px;
}

.container__items {
    min-width: 300px;
    min-height: 300px;
    flex: 1 0 60%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.container__items:hover {
    opacity: 0.8;
}

.container__items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.text-overlay-nowrap {
    white-space: nowrap;
    padding: 5px;
}

/* Fave travel creators */
.creators {
    margin: 20px;
}

.list__items {
    min-width: 300px;
    flex: 1 0 60%;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list__info {
    text-align: center;
    vertical-align: middle;
    height: 50%;
}

.list__info span:hover {
    color: gray;
    text-decoration: underline;
}

.cover_img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-height: 300px;
}

.cover_img:hover {
    opacity: 0.8;
}

/* Tour  */
.tour {
    margin: 20px;
}

.tour__info {
    height: 50%;
    padding-left: 2px;
}

.list__img {
    position: relative;
}

.heart {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.heart img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.heart:hover {
    background-color: #bfbbaa;
}

/* More to explore */
.explore {
    background-color: #F2F1EC;
    padding: 20px 20px 40px 20px;
}

/* Dream Your Next Trip */
.next-trip {
    margin: 20px;
}

.next-trip>h2 {
    margin-bottom: 10px;
}

.text-overlay-wrap {
    white-space: wrap;
    padding: 10px;
}

#h2-normal {
    font-weight: normal;
}

/* Top destinations for your next holiday */
.next-holiday {
    margin: 20px;
}

/* Home Rentals Near You */
.rentals {
    margin: 20px;
}

.rentals>h2 {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #F2F1EC;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #334545;
}

.footer__s1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__s1__col-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.footer__s1__col-1__group__col {
    display: flex;
    flex-direction: row;
}

#sub_group{
    margin-top: 15px;
}

.footer__s1__col-1__group__title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer__s1__col-1 ul {
    display: none; /* Initially hidden for small screens */
}

.footer__s1__col-1 ul,
.footer__s1__col-2__p {
    list-style: none;
    font-size: 12px;
    display: none; /* Initially hidden for small screens */
}

.footer__s1__col-1 li {
    color: black;
}

.footer__s1__col-1 li:hover {
    text-decoration: underline;
    color: #A3A3A3;
    cursor: pointer;
}

.footer__s1__col-2__p span {
    text-decoration: underline;
}

.footer__s1__col-2__p span:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer__s2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__s2__col-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    width: 100%;
}

.footer__s2__col-1__sec1 {
    display: flex;
    gap: 15px;
}

.footer__s2__col-1__sec1__two__flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.footer__s2__col-1__sec1__two__flex p {
    text-decoration: underline;
    color: black;
    opacity: 0.9;
    cursor: pointer;
}

.footer__s2__col-1__sec2 {
    flex: 1;
}

#footer__smallfont {
    font-size: 12px;
}

#footer__smallfont span {
    font-weight: bold;
}

#footer__smallfont span:hover {
    text-decoration: underline;
    opacity: 0.9;
    cursor: pointer;
}

.footer__s2__col-2 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.footer__s2__col-2__one {
    display: flex;
    gap: 10px;
}

.footer__s2__col-2__one select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(213, 209, 209);
    flex: 1;
    width: 100%;
}

.footer__s2__col-2__one select:hover {
    background-color: transparent;
    cursor: pointer;
}

.footer__s2__col-2__two {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: black;
}

.footer__s2__col-2__two i:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Responsive designs */

/* Tablet */
@media screen and (min-width: 766px) {

    body {
        font-size: 16px;
    }

    /* Header */
    .header {
        gap: 20px;
    }

    .header__s2 {
        justify-content: flex-start;
        flex-grow: 1;
    }

    .header__s2 span {
        font-size: 24px;
    }

    .header__s2__img {
        width: 40px;
        height: 40px;
    }

    .header__s3 {
        display: none;
    }

    .header__s5 {
        display: flex;
    }

    .header__s5__one {
        display: none;
    }

    .header__s5__two {
        display: flex;
    }

    .header__s5__two__signin-btn {
        background-color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        color: white;
    }

    .header__s5__two__signin-btn:hover {
        opacity: 0.8;
    }

    /* Where to */
    .whereto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .whereto h1 {
        font-size: 45px;
    }

    /* Navbar */
    .navbar {
        margin: 40px 5% 20px 5%;
        gap: 25px;
    }

    /* Search box */
    .search {
        border-radius: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 6% 40px 6%;
    }

    .search__s1 {
        border: none;
        flex-grow: 1;
    }

    .search__s1__searchbox {
        padding: 0;
        font-size: 16px;
    }

    .search__s2__search-btn {
        width: fit-content;
        font-size: 16px;
    }

    .search__s2 {
        padding: 0;
    }

    /* Home image */
    .home {
        flex-direction: row;
        margin: 10px;
        padding: 30px 0 0 30px;
    }

    .home__s1 {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    .home__s1__row4:hover {
        background-color: #52327C;
    }

    /* Award-winning meal */
    .container__items {
        flex: 1 0 40%;
    }

    /* Fave travel creators */
    .list__items {
        flex: 1 0 40%;
    }

    /* Footer */
    .footer {
        background-color: #F2F1EC;
        padding: 20px 20px 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #334545;
    }

    .footer__s1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer__s1__col-1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 50%;
    }

    .footer__s1__col-1 div{
        flex: 1;
    }

    .margin__space {
        display: none;  /* Hide "+" sign on larger screens */
    }

    .footer__s1__col-1__group__title:hover{
        text-decoration: none;
        cursor: auto;
    }

    .footer__s1__col-1 ul {
        display: block; /* Always visible for larger screens */
    }

    .footer__s1__col-1 ul,
    .footer__s1__col-2__p {
        font-size: 13px;
        display: block; /* Always visible for larger screens */
    }

    .footer__s1__col-1 li {
        color: black;
    }

    .footer__s1__col-1 li:hover {
        text-decoration: underline;
        color: #A3A3A3;
        cursor: pointer;
    }

    .footer__s2__col-1__sec1 {
        display: flex;
        gap: 15px;
    }

    .footer__s1__col-2__p span {
        text-decoration: underline;
    }

    .footer__s1__col-2__p span:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .footer__s2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        -ms-flex-align: start;
    }

    .footer__s2__col-1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 5px;
        width: 50%;
        order: 1;
    }

    .footer__s2__col-1__sec1__two__flex {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
    }

    .footer__s2__col-1__sec1__two__flex p {
        text-decoration: underline;
        color: black;
        opacity: 0.9;
        cursor: pointer;
    }

    .footer__s2__col-1__sec2 {
        flex: 1;
    }

    #footer__smallfont {
        font-size: 12px;
    }

    #footer__smallfont span {
        font-weight: bold;
    }

    #footer__smallfont span:hover {
        text-decoration: underline;
        opacity: 0.9;
        cursor: pointer;
    }

    .footer__s2__col-2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        flex: 1;
        order: 2;
    }

    .footer__s2__col-2__one {
        display: flex;
        gap: 10px;
    }

    .footer__s2__col-2__one select {
        padding: 10px;
        border: none;
        border-radius: 10px;
        border: 1px solid rgb(213, 209, 209);
        flex: 1;
        width: 100%;
    }

    .footer__s2__col-2__one select:hover {
        background-color: transparent;
        cursor: pointer;
    }

    .footer__s2__col-2__two {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        color: black;
    }

    .footer__s2__col-2__two i:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

/* Laptops */
@media screen and (min-width: 1024px) {

    /* Header */
    .header {
        justify-content: space-between;
    }

    .header__s1 {
        display: none;
    }

    .header__s4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__s4 p {
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .header__s4 p:hover {
        background-color: #F2F2F2;
    }

    #header__s4__four:hover {
        background-color: transparent;
        text-decoration: underline;
        opacity: 0.7;
    }

    .header__s5 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header__s5__one {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
    }

    .header__s5__one:hover {
        background-color: #F2F2F2;
    }

    .header__s2 {
        flex-grow: 0;
    }

    .header__s5__two {
        display: none;
    }

    /* Navbar */
    .navbar {
        margin: 40px 7% 20px 7%;
        gap: 20px;
    }

    /* Search box */
    .search {
        margin: 20px 9% 40px 9%;
    }

    /* Award-winning meal */
    .container__items {
        min-width: 250px;
        flex: 1 0 23.5%;
    }

    /* Fave travel creators */
    .list__items {
        min-width: 250px;
        flex: 1 0 23.5%;
    }

    .cover_img {
        min-height: 250px;
    }
}

/* Desktops */
@media screen and (min-width: 1200px) {
    body {
        margin: 0 7%;
    }

    /* Navbar */
    .navbar {
        margin: 40px 9% 20px 9%;
    }

    /* Search box */
    .search {
        margin: 20px 12% 40px 12%;
    }

    /* Award-winning meal */
    .container__items {
        min-width: 210px;
        flex: 1 0 23.5%;
    }

    /* Fave travel creators */
    .list__items {
        min-width: 210px;
        flex: 1 0 23.5%;
    }

    .cover_img {
        min-height: 210px;
    }
}


/* Phones */
@media screen and (max-width: 756px) {
    .navbar {
        width: auto;
        /* The navbar will now trigger horizontal scrolling */
    }
}